body {
  margin: 0;
}

/* solution with h1 only */
.main-content{
  margin-right: 15px;
}

h1 {
  background-color: #281B2D;
  color: #fff;
  text-align: center;
  font-size: 72px;
  margin-top: 0;
  padding: 25px 0;
  
}

#chameleon{
  max-width: 400px;
  max-height: 400px;
}

.lizard-list{
  color: #fff;
}

.h2{
  background-color: #281B2D;
  color: #FCD801;
  font-size: 48px;
  padding: 20px;
  margin: 0px 0px 15px 0px;

  /* Slow version
  border-bottom-style: solid;
  border-bottom-width: 5px 0px;
  border-bottom-color: #00C54C; */

  /* fast version */
  border-bottom: 5px solid #14B86B;
}

.white{
  color: #fff;
}

.container{
  max-width: 1000px;
  margin: 0px auto;
  padding: 0 20px;
}

.columns{
  display: flex;
}

.sidebar{
  margin-left: 5px;
  margin-top: 0px;
  column-width: 700px;
  background-color: #063720;
  box-shadow: 5px 3px 5px grey;
}

a:hover{
  color: #fff; 
}

.image-text{
  float: right; 
}

.the-text{
  margin: 10px 10px;
  padding: 0px 10px;
}

.source{
  font-size: 12px;
  text-align: right;
  margin: 15px;
}

a{
  color: #FCD801;
}

.source p{
  padding-right: 10px;
  color: #fff;
}